* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --brand1: #364FC7;
  --brand2: #3B56D9;
  --gray1: #212529;
  --gray2: #343A40;
  --gray3: #495057;
  --gray4: #868E96;
  --gray5: #ADB5BD;
  --gray6: #E9ECEF;
  --gray7: #F1F3F5;
  --gray8: #F8F9FA;
  --gray9:#FCFEFF;
  --alert1:  #C73650;
  --alert2:  #DB3C58;
  --sucess1: #087F5B;

  --text-1: 2rem;
  --text-2: 1.25rem;
  --text-3: 1rem;
  --text-4: 0.87rem;

  --radius: 0.25rem;
  --radius-2: 0.5rem;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--gray9);
  color: var(--gray1);
}

.container{
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}


.mensagemSucesso{
  display:flex;
  flex-direction: column;
  background-color: var(--gray9);
  gap: 1.06rem;
  padding: 1.31rem 2rem;
  border-radius: var(--radius);
  box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.1);
  width: 32rem;
  height: 7.81rem;
  margin: 1.75rem;
  position: fixed;
  bottom: 0;
  right: 0;
  animation: animacaoSucesso 0.6s; 
}

.displayNone{
  display: none;
}

.mensagemSucesso div{
  display:flex;
  gap: 0.75rem;
}

.mensagemSucesso div img{
  padding: 0.28rem;
  border-radius: 50%;
  background-color: var(--sucess1);
}

.mensagemSucesso div h3{
  color: var(--sucess1);
  font-size: var(--text-3);
}

.mensagemSucesso p{
  font-size: var(--text-4);
}

.mensagemSucesso p a{
  color: var(--brand1);
  cursor: pointer;
}

@keyframes animacaoSucesso{
  0%{
      opacity: 0;
      transform:translateY(50%);
  }
  100%{
      opacity: 1;
      transform:translateY(0);
  }
}

.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.5);
  position: fixed;
  z-index: 1;
  display: none;
  align-items:flex-start;
}

.ativarModal{
  display: flex;
}


